autostart
Android\ Open\ Source\ Project
bpytop
BraveSoftware
chromium 
Code 
dconf
geany
Google
google-chrome
gtk-2.0
gtk-3.0
libfm
matplotlib
Microsoft
Microsoft\ Teams\ -\ Preview
nitrogen
octave
pamac
pcmanfm
polybar.old
pulse
Signal
teams
viewnior
vlc
wal 
xarchiver
QtProject.conf
mimeapps.list
pavucontrol.ini
pavucontrol.ini
i3status
i3/config.save
i3/config.save.1
alacritty/alacritty.yml.save
polybar/config.ini.save
polybar/config.ini.save.1
polybar/modules.ini.save
networkmanager-dmenu/config.ini.save
GIMP
libreoffice
